@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    @apply m-0;
    padding: 0;
    height: 100vh;
    font-size: 13px;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

/* SIDEBAR DESKTOP*/
#app {
    
    display: grid;
    height: 100vh;
    grid-template-areas:
        "aside header"
        "aside main"
        "aside footer";
    gap: 10px;
    grid-template-columns: 211px 1fr;
    grid-template-rows: auto 1fr auto;
}

/*SLIDEBAR MOBILE*/
@media (max-width: 768px) {
    #app {
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }
}

tbody {
    text-transform: uppercase;
}

th {
    border: 1px solid #cbd5e1;

}

td {
    border: 1px solid #cbd5e1;

}

.active {
    background: #3b72e3;
}

.modal {
    background: #80808059;
}

.btn-search {
    width: 122.42px;
}

.info-basica tr td {
    height: 35px;
    @apply border-0;
}